<h1>教授を探す</h1>
<p>検索</p>
<%= form_tag("",:method => 'get') do %>
  <%= text_field_tag :search1 %>
  <%= submit_tag '名前で検索', :name => nil %>
<% end %>
<%= form_tag("",:method => 'get') do %>
  <%= text_field_tag :search2 %>
  <%= submit_tag '学校で検索', :name => nil %>
<% end %>
<%= form_tag("",:method => 'get') do %>
  <%= text_field_tag :search3 %>
  <%= submit_tag '専門分野で検索', :name => nil %>
<% end %>
<% if @teachers.empty?%>
  <p>検索した結果、該当する人はいませんでした</p>
<%end%>
<% @teachers.each do |teacher| %>
      <img src="<%= "/user_images/#{teacher.image_name}" %>">
          <%= link_to(teacher.name,"/users/#{teacher.id}") %>
          <p>--------------------------</p>
<%end %>
